# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

venv/
.env

# ==========================================
# Django
# ==========================================

db.sqlite3
*.sqlite3

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Logs
# ==========================================

logs/
*.log

# ==========================================
# Generated Reports
# ==========================================

generated_reports/


# ==========================================
# Test / Coverage
# ==========================================

.coverage
htmlcov/
.pytest_cache/

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db

structure.txt
