{% extends "base.html" %}

{% load static %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow">

            <div class="card-body">

                <h3 class="mb-4 text-center">

                    Create Account

                </h3>

                <form onsubmit="registerUser(event)">

                    <div class="mb-3">

                        <label class="form-label">

                            Username

                        </label>

                        <input
                            id="username"
                            class="form-control"
                            required
                        >

                    </div>

                    <div class="mb-3">

                        <label class="form-label">

                            Email

                        </label>

                        <input
                            id="email"
                            type="email"
                            class="form-control"
                            required
                        >

                    </div>

                    <div class="mb-3">

                        <label class="form-label">

                            Password

                        </label>

                        <input
                            id="password"
                            type="password"
                            class="form-control"
                            required
                        >

                    </div>

                    <button
                        class="btn btn-primary w-100"
                    >
                        Register
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>


{% endblock %}